.app {
  color: rgb(54, 55, 73);
  z-index: 2;
  position: relative;
}
.gradient-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(216deg, rgb(230, 229, 248) 0%, rgb(214, 228, 240) 35%, rgb(238, 238, 238) 100%);
  opacity: 0.9;
  z-index: 1;
}
body {
  -webkit-touch-callout: none !important;
  margin: 0;
  background: url(./course-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}
a,
button {
  -webkit-user-select: none !important;
}
.home {
  padding: 20px;
  padding-top: 0;
}
.home .column {
  padding: 10px;
  justify-content: center;
}
.secondary {
  color: green;
}
ul li::before {
  content: '\2022';
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
h2,
h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  font-size: 16px;
}
li {
  margin-bottom: 10px;
}

@import '../src/components/Controller.css';
