.app {
  color: grey;
}
body {
  -webkit-touch-callout: none !important;
}
a,
button,
body {
  -webkit-user-select: none !important;
}
.row > * {
  flex: 1 0 auto;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
