.container .row > *,
.container .column > * {
  flex: 1 0 auto;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle-column .button-cell {
  width: 100%;
  height: 20%;
}
.row {
  display: flex;
  flex-direction: row;
}
.button-cell {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-row .button-cell,
.second-row .button-cell,
.shot-selection-row .column {
  flex: 1 1;
}

.second-row,
.first-row {
  height: 16vh;
}

.right-left-row {
  height: 20vh;
}

@media screen and (max-height: 800px) {
  .second-row,
  .first-row {
    height: 14vh;
  }
  .right-left-row {
    height: 18vh;
  }
}

.shot-selection-row {
  flex: 2 0 auto;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.buttons-label {
  flex: 0 0 20px;
  text-align: center;
  color: #5c5b5b;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  height: 3em;
  width: 3em;
}

.horizontal-arrow-container .button-cell:first-child button:last-child svg,
.horizontal-arrow-container .button-cell:last-child button:first-child svg {
  height: 1em;
  width: 1em;
}
@media screen and (max-height: 1000px) {
  svg {
    height: 2.5em;
    width: 2.5em;
  }
}
@media screen and (max-height: 780px) {
  svg {
    height: 2em;
    width: 2em;
  }
}
@media screen and (max-height: 560px) {
  svg {
    height: 1.5em;
    width: 1.5em;
  }
}
@media screen and (max-height: 430px) {
  svg {
    height: 1em;
    width: 1em;
  }
}
.horizontal-arrow-container .button-cell:first-child button:last-child svg {
  padding-left: 20px;
}
.horizontal-arrow-container .button-cell:last-child button:first-child svg {
  padding-right: 20px;
}

.vertical-arrow-container {
  width: 20vw;
  border-radius: 10vw;
  flex-direction: column;
  margin: 20px 0px;
}
.horizontal-arrow-container {
  flex-direction: row;
  margin: 3vh 10% 3vh;
  border-radius: 40px;
}
.vertical-arrow-container,
.horizontal-arrow-container {
  box-shadow: 0 2px 5px 0 grey, 0 3px 5px -2px grey, 0 1px 7px 0 grey;
  z-index: 2;
  background: rgb(255, 255, 255, 1);
  display: flex;
  overflow: hidden;
}
.vertical-arrow-container > *,
.horizontal-arrow-container > * {
  flex: 1 1;
}
.vertical-arrow-container button,
.horizontal-arrow-container button {
  background-color: transparent;
  box-shadow: none;
}
.vertical-arrow-container .button-cell:first-child {
  margin-top: 5px;
  align-items: flex-start;
}
.vertical-arrow-container .button-cell:last-child {
  align-items: flex-end;
  margin-bottom: 5x;
}
.horizontal-arrow-container .button-cell:first-child {
  justify-content: flex-start;
}
.horizontal-arrow-container .button-cell:last-child {
  justify-content: flex-end;
}
